.ui-helper-hidden-accessible { display:none; }

.m-top-bot { 
	margin-top:0.5em;
	margin-bottom:0.5em;
}

.m-big-top-bot { 
	margin-top:1em;
	margin-bottom:1em;
}

::-webkit-input-placeholder {
   font-style:italic
}

:-moz-placeholder { /* Firefox 18- */
   font-style:italic
}

::-moz-placeholder {  /* Firefox 19+ */
   font-style:italic
}

:-ms-input-placeholder {  
   font-style:italic
}